<%= form_for(@dining_table) do |f| %>
  <% if @dining_table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dining_table.errors.count, "error") %> prohibited this dining_table from being saved:</h2>

      <ul>
      <% @dining_table.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <label for="select" class="col-lg-2 control-label">Select Team</label>
    <div class="col-lg-10">
      <select class="form-control" id="select" <%= f.select :customer_id, options_for_select(@customers.map{|cus| [cus.name,cus.id]}) %>
    </div>
  </div>
  <div class="field">
    <%= f.label :add_table %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
