<p id="notice"><%= notice %></p>

<h1>Listing Dining Tables</h1>

<table>
  <thead>
    <tr>
      <th>Customer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dining_tables.each do |dining_table| %>
      <tr>
        <td style="vertical-align:middle;" >Table <%= dining_table.name %></td>
        <td style="vertical-align:middle;">
          <div>
           <div class="led-box">
             <div id="<%= dining_table.id %>" class="led-green"></div>
           </div>
          </div>
        </td>
        <td><%= form_for(@dining_table) do |f| %>
          <% if @dining_table.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@dining_table.errors.count, "error") %> prohibited this dining_table from being saved:</h2>
              <ul>
              <% @dining_table.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <div class="form-group">
            <label for="select" class="col-lg-2 control-label"></label>
            <div class="col-lg-10">
              <select class="form-control" id="select" <%= f.select :customer_id, options_for_select(@customers.map{|cus| [cus.name,cus.id]}) %>
            </div>
          </div>
        <% end %>
        </td>

        <td>
          <button class="available" data-id="<%= dining_table.id %>" >Assign</button>
          <button class="unavailable" data-id="<%= dining_table.id %>">Reset</button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dining table', new_dining_table_path %>

<script>
$('.available').click(function(){
  var $self = $(this);
  var id_box = $self.data("id");
  console.log(id_box)
  document.getElementById(id_box).className = "led-red";
});

$('.unavailable').click(function(){
  var $self = $(this);
  var id_box = $self.data("id");
  console.log(id_box)
  document.getElementById(id_box).className = "led-green";
});



</script>
