<div class="container">
  <div class="col-md-12">
    <div class="portlet box green">
      <div class="portlet-title">
        <div class="caption">
          <i class="icon-settings font-dark"></i>
          <span class="caption-subject font-dark sbold uppercase">Table Status</span>
        </div>
      </div>
      <div class="portlet-body form">
        <form action="#" class="form-horizontal">
          <div class="form-body">
            <div class="form-group">
              <div class="col-md-4">
                <table>
                  <% @dining_tables.each do |dining_table| %>
                    <tr>
                      <div class="led-box">
                        <div data-toggle="modal" id="<%= dining_table.id %>" class="<%= dining_table.get_css %>"></div>
                      </div>
                    <tr>
                  <% end %>
                </table>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<%= link_to 'New Dining table', new_dining_table_path %>




<script>
var customerId = 0
var tableId

$('.available').click(function(){
  var dining_tables_url = "<%= dining_table_update_customer_path(id: :dining_table_id).html_safe %>";
  var customers_url = "<%= customer_update_dining_table_path(id: :customer_id).html_safe %>";
  var tableId = this.id;
  var customerId = $(this).parent().parent().find("#dining_table_customer_id").val();
  var customerName = this.name;

  $("#" + tableId).attr("class", "led-red");
  console.log("dining_table_id = " + tableId, "customer_id = " + customerId);

  dining_tables_url = dining_tables_url.replace("dining_table_id", tableId);
  customers_url = customers_url.replace("customer_id", customerId);

  data1 = {customer_id: customerId};
  data2 = {diningtable_id: tableId}

  $.ajax({
    method: "PATCH",
    url: dining_tables_url,
    data: data1
  })

  $.ajax({
    method: "PATCH",
    url: customers_url,
    data: data2
  })

  .then(function(res){
    console.log(res);
  });
});

$('.unavailable').click(function(){
  var dining_tables_url = "<%= dining_table_update_customer_path(id: :dining_table_id).html_safe %>";
  var tableId = this.id;
  console.log("dining_table_id = " + tableId, "customer_id = " + customerId);

  $("#" + tableId).attr("class", "led-green");
  dining_tables_url = dining_tables_url.replace("dining_table_id", tableId)
  data = {customer_id: null};

  $.ajax({
    method: "PATCH",
    url: dining_tables_url,
    data: data
  })
  .then(function(res){
    console.log(res);
  });
});
</script>
