<p id="notice"><%= notice %></p>

<p>
  <strong>Pk template name:</strong>
  <%= @customer.pk_template_name %>
</p>

<p>
  <strong>Order:</strong>
  <%= @customer.order_id %>
</p>

<p>
  <strong>Total price:</strong>
  <%= @customer.total_price %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
