<div class="jumbotron">
  <h1>Food Menu</h1>
</div>

<div class="row">
  <% @foods.each do |food| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
      	<%= link_to (image_tag food.image.url(:medium), class: 'image'), food %>
        <%= link_to 'Add to Order', food, class: 'btn btn-flat btn-success' %>
        <%= food.price %>
        <%= food.name %>
      </div>
    </div>
  <% end %>
<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Price</th>
      <th>Customize</th>
      <th colspan="3"></th>
    </tr>
  </thead>
</table>

<br>

<%= link_to 'New Food', new_food_path %>
