<p id="notice"><%= notice %></p>

<%= image_tag @food.image.url(:medium) %>
<p>
  <strong>Category:</strong>
  <%= @food.category %>
</p>

<p>
  <strong>Price:</strong>
  <%= @food.price %>
</p>
<p>
  <strong>Customize:</strong>
  <%= @food.customize %>
</p>
