<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @food.category %>
</p>

<p>
  <strong>Price:</strong>
  <%= @food.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @food.description %>
</p>

<p>
  <strong>Customize:</strong>
  <%= @food.customize %>
</p>
<p>
  <strong>Images:</strong>
  <% @product.images.each do |i| %>
    <%= attachment_image_tag(i, :file, :fill, 350, 350, format: "jpg") %>
  <% end %>
</p>

<%= link_to 'Edit', edit_food_path(@food) %> |
<%= link_to 'Back', foods_path %>
