<div class="portlet-body" style="display: block;">
  <div class="panel-group accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle accordion-toggle-styled" data-toggle="collapse" href="#collapse3_1_<%= title.delete(" ") %>">
            <%= title %></a>
        </h4>
      </div>
      <div id="collapse3_1_<%= title.delete(" ") %>" class="panel-collapse in">
        <div class="panel-body">
          <div class="row">
            <% foods.each do |food|%>
              <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
            	     <%= link_to (image_tag food.image.url(:medium), class: 'image'), food %><br>
                   <button class='food' id= '<%= food.id %>'>Add to Order</button>
                   <button class='remove' id= '<%= food.id %>'>Remove from Order</button>
                   <%= food.price %>
                   <%= food.name %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
