<!DOCTYPE html>
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
        <title>CuteQu :)</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= render 'layouts/shim' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    </head>
  <body class="page-container-bg-solid">
    <div class="page-wrapper">
      <%= render 'layouts/header' %>
          <%= render 'layouts/middle' %>
          <%= yield %>
    </div>
  </body>
      <%= render 'layouts/footer' %>
</html>
